.header{
   background-color: rgb(32 39 57);
    background-size: cover;
   
    background-repeat: no-repeat;
    text-align: left;
    color: #1289b8;
    padding: 50px;
    
}
.header-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* border: 2px solid rgb(214, 129, 16); */
}
.header img{
   height: 100%;
   width: 100%;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.header-content{
    margin-top: 50px;
}
